<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <session-config>
        <session-timeout>
            20
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>welkom</welcome-file>
    </welcome-file-list>
    <display-name>Pizza Luigi</display-name>
    <context-param> 
        <param-name>voornaam</param-name> 
        <param-value>Mario</param-value> 
    </context-param>
    <context-param>
        <param-name>familienaam</param-name>
        <param-value>Pizzeroni</param-value>
    </context-param>
    <context-param>
        <param-name>aantalKinderen</param-name>
        <param-value>7</param-value>
    </context-param>
    <context-param>
        <param-name>gehuwd</param-name>
        <param-value>true</param-value>
    </context-param>
</web-app>
