<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>be.vdab.listeners.MandjeListener</listener-class>
    </listener>
    <session-config>
        <session-timeout>
            20
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>welkom.htm</welcome-file>
    </welcome-file-list>
    <display-name>Pizza Luigi</display-name>
    <context-param>
        <param-name>voornaam</param-name>
        <param-value>Mario</param-value>
    </context-param>
    <context-param>
        <param-name>familienaam</param-name>
        <param-value>Pizzeroni</param-value>
    </context-param>
    <context-param>
        <param-name>aantalKinderen</param-name>
        <param-value>7</param-value>
    </context-param>
    <context-param>
        <param-name>gehuwd</param-name>
        <param-value>true</param-value>
    </context-param>
    <listener>
        <listener-class>be.vdab.listeners.MandjeListener</listener-class>
    </listener>
    <filter>
        <filter-name>ServletFilter</filter-name>
        <filter-class>be.vdab.filters.ServletFilter</filter-class> 
        <init-param>
            <param-name>encoding</param-name> 
            <param-value>UTF-8</param-value> 
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>ServletFilter</filter-name> 
        <url-pattern>*.htm</url-pattern> 
    </filter-mapping>
    <error-page>
        <error-code>404</error-code> 
        <location>/errorpages/404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>be.vdab.dao.DAOException</exception-type> 
        <location>/daoexception.htm</location> 
    </error-page>
</web-app>
